<p>product-list works!</p>
<div class="col">
    <div class="d-flex justify-content-between">
      <h4>ProductTable Lists</h4>
      <div class="p-1 bg-light  shadow-sm mb-4">
        <div class="input-group">
          <input id="table-filtering-search" placeholder="Search" class="form-control bg-light rounded rounded-pill"
            type="text"  />
          <!-- <div class="input-group-append"> -->
            <!-- <button id="button-addon1" type="submit" class="btn btn-link text-primary"> -->
              <i-feather name="search" class="text-primary mr-3"></i-feather>
            <!-- </button> -->
          <!-- </div> -->
          <i-feather name="settings" class="text-primary"></i-feather>
        </div>

        
      </div>
   
      <!-- </div><input type="search" placeholder="search"> -->
    </div>
    <app-ag-grid rowSelection="multiple" [rowData]="rowData" [columnDefs]="columnDefs" 
   
    >
    </app-ag-grid>
  </div>