<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand fs-1" href="#">CAT4U</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fs-3" aria-current="page" href="#">iProcess</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link fs-4" >My Menu</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link fs-4" href="#">{{header.links  }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" href="#">{{ header.module }}</a>
          </li>
          <!-- <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item fs-3">iProcess</li>
             
           
              <li class="breadcrumb-item active fs-3" aria-current="page">{{header.links  }}</li>
              <li class="breadcrumb-item active fs-3" aria-current="page">{{ header.module }}</li>
            </ol>
          </nav> -->
         
        </ul>
      
        <div class="px-3 ">
          <i-feather name="bell" class="cursor-pointer"></i-feather>
          <i-feather name="user"></i-feather>
        </div>
        
      </div>
    </div>
  </nav>