.bg-grey{
    background-color: #91b4e6;
}
.active {
  background-color: white;
  color: black; }

.dropdown-toggle::after {
    display: none;
}
.hide{
    display: none;
}
.row>*{
  padding-left: 0;
}

.active-tab {
  background-color: white;
}

  
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

