 
  <div class="panel">
  <div class=" " *ngIf="showColumnList">
    <ul class="list-unstyled">
      <li  *ngFor="let col of colDeflist" (click)="toggleColumnVisibility(col)">
        <i-feather [name]="!col.hide?'eye':'eye-off'"></i-feather>
    
        {{ col.headerName }}
      </li>
    </ul>
  </div>

</div>


<ag-grid-angular
  style="height: 500px"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [pagination]="true"
  [defaultColDef]="defaultColumnDefs"
  (selectionChanged)="onCheckBoxChange()"
  (gridReady)="onGridReady($event)"
  [editType]="editType"
  [rowSelection]="rowSelection"
  [gridOptions]="gridOptions"
  [paginationPageSize]="10"
>
</ag-grid-angular>
