
 
<p *ngIf="fieldName=='orgName'" class="text-primary" (click)="orgNameClick()">
    {{orgName}}
 </p>
 
 <p *ngIf="fieldName=='name'" class="text-primary" (click)="contactClick()">
    {{contactName}}
 </p>


 <div class="list-unstyled" >
     <i-feather name="edit" style="color: green" (click)="editTask()"></i-feather>
     <i-feather name="trash-2" class="delete" style="color: red" (click)="deleteTask()"  ></i-feather>
 </div>
 <input type="checkbox" [checked]="params.value" [disabled]="params.data.is_table_exist"/>