
<div class="d-flex justify-content-between py-2">
  <h4>{{heading}}</h4>

  <div class="">
    <div class="input-group">
      <input id="table-filtering-search" placeholder="Search" class="form-control bg-light rounded rounded-pill"
        type="text"  [(ngModel)]="searchValue"  (ngModelChange)="onSearchData()"/>
      <div class="input-group-append">
        <button  class="btn btn-link text-primary">
     
          <i-feather name="settings"  class="mx-2" (click)="toggleColumnListVisibility()"></i-feather>
          <i-feather name="plus-circle" (click)="addRow()"></i-feather>
        </button>
     
      </div>
    </div>
  </div>

 
</div>
<app-ag-grid rowSelection="multiple"
 [rowData]="rowData" 
 [columnDefs]="columnDefs" 
[gridOptions]="gridOptions" 
[columnDefs]="columnDefs"

[showColumnList]="showColumnList"
(GridReady)="onGridReady($event)"
 ></app-ag-grid>


<div class="d-flex justify-content-between pt-4">
    <button routerLink="/products/products"type="button" class="btn btn-outline-primary">
    Back
    </button>
    <button  type="button" class="btn btn-outline-primary">
      Next >>
    </button>
  </div>