.priority-high {
    background-color: red;
    color: white; /* Optional: to ensure text is readable */
  }
  
  .priority-medium {
    background-color: green;
    color: white; /* Optional: to ensure text is readable */
  }
  
  .priority-low {
    background-color: yellow;
    color: black; /* Optional: to ensure text is readable */
  }
  
.hide{
    display: none;
}
