/* ul {
    list-style-type: none;
}
.bg-grey{
    background-color: gray;
    
    }
    a{
        text-decoration: none;
        cursor: pointer;
    }
    .close {
        font-size: 1.4rem;
        opacity: 0.1;
        transition: opacity 0.3s;
    }
    .nav-link:hover > .close {
        opacity: 0.8;
    } */
    .btn{
        font-size: 50px;
    }
    .prev{
        position:absolute;
        top:30%;
        left:300px;
    }
    .next{
        position:absolute;
        top:30%;
        right:0%;
    }